# Framework principal
django>=5.0,<5.1

# API Rest (DRF)
djangorestframework
markdown       # Suporte para documentação no DRF
django-filter  # Facilita filtros em APIs

# AWS & LocalStack
boto3          # SDK oficial da AWS
botocore

# Utilidades
django-environ # Para gerenciar variáveis de ambiente (.env)
requests       # Biblioteca HTTP padrão

psycopg2-binary
django-environ
dj-database-url

gunicorn==21.2.0